*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  background-image: url('./../images/svet_bleklyy_fon_85547_2560x1600.jpg');
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.heading {
  display: flex;
  justify-content: center;
}

.form-control {
  padding: 10px;
  width: 300px;

  &:hover,
  &:focus {
    border-color: green;
    cursor: pointer;
  }
}

.search-form {
  display: flex;
  justify-content: center;
}

.list__container {
  display: flex;
  justify-content: center;
}
